.status {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    svg {
        width: 100px;
        height: 100px;
        color: rgb(24, 211, 24);
    }
}