.cart-item {
    position: relative;
    width: 216px;
    height: 300px;
    max-width: 95%;
    border: 1px solid #eee;
    border-radius: 10px;
    margin: 8px;
    color: #fff;
    box-sizing: inherit;
    .no-image, .image-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        height: 100px;
    }
    .image-container {
        img {
            max-width: 100%;
            height: 100%;
        }
    }
    h3, h4 {
        text-align: center;
    }
    button {
        width: 100%;
        position: absolute;
        bottom: 10px;
    }
}