$defaultPadding: 16px;
$white: white;

.event-preview-container{
    max-width: 90%;
    width: 720px;
    height: 380px;
    margin: 10px auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: $defaultPadding;
    color: $white;
    background: linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%);
    background-size: cover;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    &:hover{
        transform: scale(1.04);
    }
    .organizer-info{
        display: flex;
        align-items: center;
        .organizer-logo{
            width: 50px;
            height: 50px;
            background-color: white;
            margin-right: $defaultPadding;
            border-radius: 50%;
            img{
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }
        .organizer{
            .organizer-link{
                margin-top: 4px;
                a{
                    text-decoration: none;
                    color: rgba(62, 62, 240, 0.767);
                }
            }
        }
    }
    .main-info{
        .event-info{
            margin-bottom: $defaultPadding;
            display: flex;
            flex-wrap: wrap;
            span{
                margin-right: 32px;
            }
        }
        .description{
            font-size: 0.8em;;
        }
        .view-price{
            display: flex;
            justify-content: space-between;
            margin-top: 8px;
            a{
                text-decoration: none;
                color: rgba(62, 62, 240, 0.767);
            }
        }
    }
}