$defaultPadding: 16px;
$white: white;

.event-preview-container{
    max-width: 100%;
    width: 720px;
    height: 380px;
    margin: 10px auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: $defaultPadding;
    color: $white;
    background: linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%),url("https://www.wearethepit.com/wp-content/uploads/2019/08/Screen-Shot-2019-07-24-at-3.50.45-PM.png");
    background-size: cover;
    .organizer-info{
        display: flex;
        align-items: center;
        .organizer-logo{
            width: 50px;
            height: 50px;
            background-color: white;
            margin-right: $defaultPadding;
            img{
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }
        .organizer{
            .organizer-name{

            }
            .organizer-link{
                margin-top: 4px;
                a{
                    text-decoration: none;
                    color: rgba(62, 62, 240, 0.767);
                }
            }
        }
    }
    .main-info{
        .event-info{
            margin-bottom: $defaultPadding;
            span{
                margin-right: 32px;
            }
            @media screen and (max-width: 430px){
                display: flex;
                flex-direction: column;
            }
        }
        .description{
            font-size: 0.8em;;
        }
        .view-price{
            display: flex;
            justify-content: space-between;
            margin-top: 8px;
            a{
                text-decoration: none;
                color: rgba(62, 62, 240, 0.767);
            }
        }
    }
}