$inputDefaultColor: rgba(242, 207, 7, 0.699);
$inputBorder: 1px solid $inputDefaultColor;

%imagePreviewContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 100%;
    height: 200px;
    border: 1px dashed black;
    margin-bottom: 8px;
}

.add-event-form {
    margin-top: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    h1 {
        color: #fff;
    }
    form {
        display: flex;
        flex-direction: column;
        max-width: 600px;
        width: 100%;
        .no-image {
            @extend %imagePreviewContainer;
        }
        .image-container {
            @extend %imagePreviewContainer;
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
        input[type="file"] {
            display: none;
        }
        input, select, textarea{
            background-color: transparent;
            border: $inputBorder;
            border-radius: 5px;
            outline: none;
            transition-duration: 0.3s;
            transition-timing-function: ease-in;
            height: 30px;
            margin-bottom: 8px;
            padding: 4px;
            color: #fff;
            resize: none;
            &:focus{
                box-shadow: 0 0 5px $inputDefaultColor;
            }
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
        textarea {
            height: 90px;
        }
        .error-msg {
            color: red;
        }
        button {
            width: 100%;
        }
    }
}