.register-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    form {
        display: flex;
        flex-direction: column;
    }
}