$defaultPadding: 16px;
$defaultBorder: 1px solid black;
$inputHeight: 40px;
@mixin centeredFlex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $defaultPadding;
}

@mixin creditCardInput {
    height: $inputHeight;
    font-size: 30px;
    outline: none;
    border-radius: 3px;
    text-align: center;
}

.purchase-page-container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .purchase-card{
        width: 400px;
        height: 500px;
        border-radius: 5px;
        padding: $defaultPadding;
        max-width: 90%;
        .event-info{
            width: 100%;
            height: 100px;
        }
        .credit-card{
            width: 100%;
            height: 200px;
            .credit-card-number-container{
                @include centeredFlex;
                input{
                    width: 80px;
                    @include creditCardInput();
                }
                //Removing default browser input number selector
                input[type="number"]::-webkit-inner-spin-button,
                input[type="number"]::-webkit-outer-spin-button{
                    -webkit-appearance: none;
                    margin: 0
                }
            }
            .credit-card-month-code-container{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: $defaultPadding;
                input{
                    @include creditCardInput();
                    width: 125px;
                }
            }
        }
        button {
            width: 100%;
        }
    }
}