$defaultPadding: 16px;
$defaultBorder: 1px solid black;

.purchase-page-container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .purchase-card{
        width: 400px;
        height: 500px;
        border: $defaultBorder;
        border-radius: 5px;
        padding: $defaultPadding;
        .event-info{
            width: 100%;
            height: 100px;
            border: $defaultBorder;
        }
        .credit-card{
            width: 100%;
            height: 150px;
            border: $defaultBorder;
        }
    }
}